<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <%= link_to "Коледж", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Головна", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Новини", news_index_path, class: "nav-link #{'active' if current_page?(news_index_path)}" %>
        </li>
        <li class="nav-item dropdown dropdown-hover">
          <a class="nav-link dropdown-toggle" id="navbarDropdownStudent" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Студенту
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownStudent">
            <li><%= link_to "Гуртки", student_clubs_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown dropdown-hover">
          <a class="nav-link dropdown-toggle" id="navbarDropdownApplicant" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Абітурієнту
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownApplicant">
            <li><%= link_to "Вступ", admission_path, class: "dropdown-item" %></li>
            <li><%= link_to "Спеціальності", specialties_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "Публічна інформація", public_info_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Структурні підрозділи", departments_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Моніторинг якості", quality_monitoring_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  /* Enable dropdown on hover for desktop only, not on touch devices */
  @media (min-width: 992px) and (hover: hover) and (pointer: fine) {
    .dropdown-hover:hover > .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  }
</style>
